{% extends "base.html" %}

{% block content %}

<h1>Drivers table</h1>

<table class="table" id="drivers-table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Age</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<a href="{{ url_for('drivers.add_view') }}" class="btn btn-primary">Add next driver</a>

<script>

    function deleteDriver(oid) {
            fetch(`/drivers/delete?oid=${oid}`,
                {
                    method: "DELETE",
                }
                )
                .then((response) => response.json())
                .then((data) => {
                        console.log(data);
                        if (data.error === null) {
                                console.log("Delete successful");
                                updateDrivers();
                            }
                    });
        }
    function clearDriversTable() {
        currentPerformances = [];

        let table = document.getElementById("drivers-table");
        let tbody = table.getElementsByTagName('tbody')[0];

        tbody.innerHTML = "";
    }
    function updateDrivers(oid) {
            fetch(`/drivers/get`)
                .then((response) => response.json())
                .then((data) => {
                        console.log(data);
                        if (data.error === null) {
                                console.log("Driver get successful");
                                clearDriversTable();
                                let drivers = data.data;
                                drivers.forEach( (driver) => {
                                        addDriverToTable(driver);
                                    });
                            }
                    });
        }
    function addDriverToTable(driver) {
            let table = document.getElementById("drivers-table");
            let tbody = table.getElementsByTagName('tbody')[0];

            let row = tbody.insertRow();
            row.insertCell().innerHTML = driver._id.$oid;
            row.insertCell().innerHTML = driver.first_name;
            row.insertCell().innerHTML = driver.last_name;
            row.insertCell().innerHTML = driver.age;
            row.insertCell().innerHTML = `
               <button onclick="deleteDriver('${driver._id.$oid}');" class="btn btn-danger">DELETE</button>
               `;
            row.insertCell().innerHTML = `
               <a href="/drivers/update/${driver._id.$oid}"><button class="btn btn-warning">Update</button></a>
               `;
        }

    // MAIN
    updateDrivers();

</script>

{% endblock %}
