{% extends "base.html" %}

{% block content %}

<div class="card">
    <div class="card-header text-center">
        <h3>Create order</h3>
    </div>
    <div class="card-body">
        <form action="{{ url_for('orders.add_view')}}" method="post">
            <div class="form-group col-sm-6 text-center" style="margin-left: auto;margin-right: auto;margin-top: 10px">
                <label for="customer">Customer:</label>
                <input class="form-control" type="text" id="customer" name="customer" required>
            </div>
            <div class="form-grou col-sm-6 text-center" style="margin-left: auto;margin-right: auto;margin-top: 10px">
                <label for="driver">Choose driver:</label>
                <input class="form-control" type="text" id="driver" name="driver" list="drivers" required>
                <datalist id="drivers">
                    {% for driver in drivers %}
                    <option value="{{ driver.first_name }} {{ driver.last_name }} ({{ driver.id }})"></option>
                    {% endfor %}
                </datalist>
            </div>

            <datalist id="cities">
                {% for (city_id, city_name) in cities %}
                <option value="{{ city_name }} ({{ city_id }})"></option>
                {% endfor %}
            </datalist>
            <div class="form-grou col-sm-6 text-center" style="margin-left: auto;margin-right: auto;margin-top: 10px">
                <label for="source">Choose source:</label>
                <input class="form-control" type="text" id="source" name="source" list="cities" required>
            </div>
            <div class="form-grou col-sm-6 text-center" style="margin-left: auto;margin-right: auto;margin-top: 10px">
                <label for="target">Choose target:</label>
                <input class="form-control" type="text" id="target" name="target" list="cities" required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Create order</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
