{% extends "base.html" %}

{% block above_container %}
    <a href="{{ url_for('orders.index_view') }}" style="color: black; text-decoration: none;" onmouseover="this.style.textShadow='0px 0px 1px black'" onmouseout="this.style.textShadow='none'"><- Back</a>
{% endblock %}

{% block content %}

<div class="card">
    <h5 class="card-header text-center py-3">
        Order no. <strong>{{ order.pk }}</strong>
    </h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><span style="font-weight: bold">Customer:</span> {{ customer }}</li>
        <li class="list-group-item"><span style="font-weight: bold">Initial destination:</span> {{ source }} </li>
        <li class="list-group-item"><span style="font-weight: bold">Target destination:</span> {{ target }}</li>
        <li class="list-group-item"><span style="font-weight: bold">The shortest way found:</span> {{ path }}</li>
        <li class="list-group-item"><span style="font-weight: bold">Total length:</span> {{ total_cost }} km </li>
        <li class="list-group-item"><span style="font-weight: bold">Driver's name:</span> {{ driver[0] }} {{ driver[1] }}</li>
    </ul>
</div>


{% endblock %}

